MailingService.Tests/Connected Services/EmployeeService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetEmployeeByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUsername" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetListOfEmployeesByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfEmployeesByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetListOfEmployeesByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfEmployeesByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeesByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeesByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployeeByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByUsername" message="tns:IEmployeeService_GetEmployeeByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByUsernameResponse" message="tns:IEmployeeService_GetEmployeeByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfEmployeesByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetListOfEmployeesByDepartmentId" message="tns:IEmployeeService_GetListOfEmployeesByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetListOfEmployeesByDepartmentIdResponse" message="tns:IEmployeeService_GetListOfEmployeesByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentId" message="tns:IEmployeeService_GetEmployeesByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentIdResponse" message="tns:IEmployeeService_GetEmployeesByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployees" message="tns:IEmployeeService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployeesResponse" message="tns:IEmployeeService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmployee" message="tns:IEmployeeService_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmployeeResponse" message="tns:IEmployeeService_InsertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployee" message="tns:IEmployeeService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeResponse" message="tns:IEmployeeService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeByUsername">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfEmployeesByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetListOfEmployeesByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeesByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:9000/ServiceLibrary/EmployeeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>