MailingService.Tests/Connected Services/TempScheduleService/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfTemplateSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateSchedule" nillable="true" type="tns:TemplateSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateSchedule" nillable="true" type="tns:ArrayOfTemplateSchedule" />
  <xs:complexType name="TemplateSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ListOfTempShifts" nillable="true" type="tns:ArrayOfTemplateShift" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfWeeks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateSchedule" nillable="true" type="tns:TemplateSchedule" />
  <xs:complexType name="ArrayOfTemplateShift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateShift" nillable="true" type="tns:TemplateShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateShift" nillable="true" type="tns:ArrayOfTemplateShift" />
  <xs:complexType name="TemplateShift">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="Hours" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="TemplateScheduleID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="WeekDay" type="q1:DayOfWeek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateShift" nillable="true" type="tns:TemplateShift" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumbOfHours" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>