ServiceHosting.Tests/Connected Services/TemplateScheduleService/TemplateScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TemplateScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateScheduleService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateScheduleService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateScheduleService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateScheduleService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplateScheduleService_GetAllTemplateSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplateSchedules" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_GetAllTemplateSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplateSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_AddTemplateScheduleToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateScheduleToDb" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_AddTemplateScheduleToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateScheduleToDbResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_UpdateTemplateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplateSchedule" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_UpdateTemplateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_UpdateTemplateScheduleWithDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplateScheduleWithDelete" />
  </wsdl:message>
  <wsdl:message name="ITemplateScheduleService_UpdateTemplateScheduleWithDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplateScheduleWithDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplateScheduleService">
    <wsdl:operation name="GetAllTemplateSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateScheduleService/GetAllTemplateSchedules" message="tns:ITemplateScheduleService_GetAllTemplateSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateScheduleService/GetAllTemplateSchedulesResponse" message="tns:ITemplateScheduleService_GetAllTemplateSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTemplateScheduleToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateScheduleService/AddTemplateScheduleToDb" message="tns:ITemplateScheduleService_AddTemplateScheduleToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateScheduleService/AddTemplateScheduleToDbResponse" message="tns:ITemplateScheduleService_AddTemplateScheduleToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateScheduleService/UpdateTemplateSchedule" message="tns:ITemplateScheduleService_UpdateTemplateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateScheduleService/UpdateTemplateScheduleResponse" message="tns:ITemplateScheduleService_UpdateTemplateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateScheduleWithDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateScheduleService/UpdateTemplateScheduleWithDelete" message="tns:ITemplateScheduleService_UpdateTemplateScheduleWithDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateScheduleService/UpdateTemplateScheduleWithDeleteResponse" message="tns:ITemplateScheduleService_UpdateTemplateScheduleWithDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemplateScheduleService" type="tns:ITemplateScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTemplateSchedules">
      <soap:operation soapAction="http://tempuri.org/ITemplateScheduleService/GetAllTemplateSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTemplateScheduleToDb">
      <soap:operation soapAction="http://tempuri.org/ITemplateScheduleService/AddTemplateScheduleToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateSchedule">
      <soap:operation soapAction="http://tempuri.org/ITemplateScheduleService/UpdateTemplateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateScheduleWithDelete">
      <soap:operation soapAction="http://tempuri.org/ITemplateScheduleService/UpdateTemplateScheduleWithDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateScheduleService">
    <wsdl:port name="BasicHttpBinding_ITemplateScheduleService" binding="tns:BasicHttpBinding_ITemplateScheduleService">
      <soap:address location="http://localhost:9000/ServiceLibrary/TemplateScheduleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>