DesktopClient/Connected Services/TempScheduleService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TempScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITempScheduleService_GetAllTempSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTempSchedules" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_GetAllTempSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTempSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_FindTempScheduleByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTempScheduleByName" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_FindTempScheduleByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTempScheduleByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_AddTempScheduleToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTempScheduleToDB" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_AddTempScheduleToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTempScheduleToDBResponse" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_AddTempShift_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTempShift" />
  </wsdl:message>
  <wsdl:message name="ITempScheduleService_AddTempShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTempShiftResponse" />
  </wsdl:message>
  <wsdl:portType name="ITempScheduleService">
    <wsdl:operation name="GetAllTempSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempScheduleService/GetAllTempSchedules" message="tns:ITempScheduleService_GetAllTempSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempScheduleService/GetAllTempSchedulesResponse" message="tns:ITempScheduleService_GetAllTempSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTempScheduleByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempScheduleService/FindTempScheduleByName" message="tns:ITempScheduleService_FindTempScheduleByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempScheduleService/FindTempScheduleByNameResponse" message="tns:ITempScheduleService_FindTempScheduleByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTempScheduleToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempScheduleService/AddTempScheduleToDB" message="tns:ITempScheduleService_AddTempScheduleToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempScheduleService/AddTempScheduleToDBResponse" message="tns:ITempScheduleService_AddTempScheduleToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTempShift">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempScheduleService/AddTempShift" message="tns:ITempScheduleService_AddTempShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempScheduleService/AddTempShiftResponse" message="tns:ITempScheduleService_AddTempShift_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITempScheduleService" type="tns:ITempScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTempSchedules">
      <soap:operation soapAction="http://tempuri.org/ITempScheduleService/GetAllTempSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTempScheduleByName">
      <soap:operation soapAction="http://tempuri.org/ITempScheduleService/FindTempScheduleByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTempScheduleToDB">
      <soap:operation soapAction="http://tempuri.org/ITempScheduleService/AddTempScheduleToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTempShift">
      <soap:operation soapAction="http://tempuri.org/ITempScheduleService/AddTempShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempScheduleService">
    <wsdl:port name="BasicHttpBinding_ITempScheduleService" binding="tns:BasicHttpBinding_ITempScheduleService">
      <soap:address location="http://localhost:9000/ServiceLibrary/TempScheduleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>