DesktopClient/Connected Services/TempScheduleService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="GetAllTempSchedules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTempSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="GetAllTempSchedulesResult" nillable="true" type="q1:ArrayOfTempSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTempScheduleByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTempScheduleByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="FindTempScheduleByNameResult" nillable="true" type="q2:TempSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempScheduleToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="tSchedule" nillable="true" type="q3:TempSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempScheduleToDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="tShift" nillable="true" type="q4:TempShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>