MailingService.Tests/Connected Services/ScheduleShiftService/ScheduleShiftService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScheduleShiftService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/ScheduleShiftService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/ScheduleShiftService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/ServiceLibrary/ScheduleShiftService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleShiftService_SetScheduleShiftForSale_InputMessage">
    <wsdl:part name="parameters" element="tns:SetScheduleShiftForSale" />
  </wsdl:message>
  <wsdl:message name="IScheduleShiftService_SetScheduleShiftForSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetScheduleShiftForSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleShiftService_AcceptAvailableShift_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptAvailableShift" />
  </wsdl:message>
  <wsdl:message name="IScheduleShiftService_AcceptAvailableShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptAvailableShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleShiftService_GetAllAvailableShiftsByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAvailableShiftsByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IScheduleShiftService_GetAllAvailableShiftsByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAvailableShiftsByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleShiftService">
    <wsdl:operation name="SetScheduleShiftForSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleShiftService/SetScheduleShiftForSale" message="tns:IScheduleShiftService_SetScheduleShiftForSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleShiftService/SetScheduleShiftForSaleResponse" message="tns:IScheduleShiftService_SetScheduleShiftForSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptAvailableShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleShiftService/AcceptAvailableShift" message="tns:IScheduleShiftService_AcceptAvailableShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleShiftService/AcceptAvailableShiftResponse" message="tns:IScheduleShiftService_AcceptAvailableShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAvailableShiftsByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleShiftService/GetAllAvailableShiftsByDepartmentId" message="tns:IScheduleShiftService_GetAllAvailableShiftsByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleShiftService/GetAllAvailableShiftsByDepartmentIdResponse" message="tns:IScheduleShiftService_GetAllAvailableShiftsByDepartmentId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScheduleShiftService" type="tns:IScheduleShiftService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetScheduleShiftForSale">
      <soap:operation soapAction="http://tempuri.org/IScheduleShiftService/SetScheduleShiftForSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptAvailableShift">
      <soap:operation soapAction="http://tempuri.org/IScheduleShiftService/AcceptAvailableShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAvailableShiftsByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IScheduleShiftService/GetAllAvailableShiftsByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleShiftService">
    <wsdl:port name="BasicHttpBinding_IScheduleShiftService" binding="tns:BasicHttpBinding_IScheduleShiftService">
      <soap:address location="http://localhost:9000/ServiceLibrary/ScheduleShiftService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>