DesktopClient/Connected Services/TempShiftService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="CreateTempShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekNumber" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="shiftEmployee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTempShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="CreateTempShiftResult" nillable="true" type="q2:TempShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTempShiftByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="tSchedule" nillable="true" type="q3:TempSchedule" />
        <xs:element minOccurs="0" name="tempShiftID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTempShiftByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="FindTempShiftByIDResult" nillable="true" type="q4:TempShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>