EasyScheduleWebClient/Connected Services/ScheduleService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Core" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleService_GetScheduleByDepartmentIdAndDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleByDepartmentIdAndDate" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetScheduleByDepartmentIdAndDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleByDepartmentIdAndDateResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_InsertScheduleToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleToDb" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_InsertScheduleToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleToDbResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateScheduleWithDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleWithDelete" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateScheduleWithDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleWithDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedulesByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedulesByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GenerateScheduleFromTemplateScheduleAndStartDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateScheduleFromTemplateScheduleAndStartDate" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GenerateScheduleFromTemplateScheduleAndStartDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateScheduleFromTemplateScheduleAndStartDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleService">
    <wsdl:operation name="GetScheduleByDepartmentIdAndDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GetScheduleByDepartmentIdAndDate" message="tns:IScheduleService_GetScheduleByDepartmentIdAndDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GetScheduleByDepartmentIdAndDateResponse" message="tns:IScheduleService_GetScheduleByDepartmentIdAndDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/InsertScheduleToDb" message="tns:IScheduleService_InsertScheduleToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/InsertScheduleToDbResponse" message="tns:IScheduleService_InsertScheduleToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScheduleWithDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/UpdateScheduleWithDelete" message="tns:IScheduleService_UpdateScheduleWithDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/UpdateScheduleWithDeleteResponse" message="tns:IScheduleService_UpdateScheduleWithDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/UpdateSchedule" message="tns:IScheduleService_UpdateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/UpdateScheduleResponse" message="tns:IScheduleService_UpdateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GetSchedulesByDepartmentId" message="tns:IScheduleService_GetSchedulesByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GetSchedulesByDepartmentIdResponse" message="tns:IScheduleService_GetSchedulesByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateScheduleFromTemplateScheduleAndStartDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GenerateScheduleFromTemplateScheduleAndStartDate" message="tns:IScheduleService_GenerateScheduleFromTemplateScheduleAndStartDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GenerateScheduleFromTemplateScheduleAndStartDateResponse" message="tns:IScheduleService_GenerateScheduleFromTemplateScheduleAndStartDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScheduleService" type="tns:IScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduleByDepartmentIdAndDate">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GetScheduleByDepartmentIdAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleToDb">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/InsertScheduleToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScheduleWithDelete">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/UpdateScheduleWithDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GetSchedulesByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateScheduleFromTemplateScheduleAndStartDate">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GenerateScheduleFromTemplateScheduleAndStartDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleService">
    <wsdl:port name="BasicHttpBinding_IScheduleService" binding="tns:BasicHttpBinding_IScheduleService">
      <soap:address location="http://localhost:9000/ServiceLibrary/ScheduleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>