DesktopClient/Connected Services/ScheduleShiftService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/ServiceLibrary/ScheduleShiftService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="SetScheduleShiftForSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="scheduleShift" nillable="true" type="q1:ScheduleShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetScheduleShiftForSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptAvailableShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="shift" nillable="true" type="q2:ScheduleShift" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptAvailableShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableShiftsByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableShiftsByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="GetAllAvailableShiftsByDepartmentIdResult" nillable="true" type="q4:ArrayOfScheduleShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>