DesktopClient/Connected Services/TemplateShiftService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateShiftService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateShiftService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9000/ServiceLibrary/TemplateShiftService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="CreateTemplateShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="weekDay" type="q1:DayOfWeek" />
        <xs:element minOccurs="0" name="hours" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q2:duration" />
        <xs:element minOccurs="0" name="templateScheduleId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTemplateShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="CreateTemplateShiftResult" nillable="true" type="q4:TemplateShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTemplateShiftById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateShiftId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTemplateShiftByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="FindTemplateShiftByIdResult" nillable="true" type="q5:TemplateShift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>